<section class="py-5" [dir]="_TranslateService.currentLang === 'ar' ? 'rtl' : 'ltr'">
    <h1 class="text-center text-main my-2">{{ 'auth.forgotPassword.title' | translate }}</h1>
  
  @if(step ===1 ) 
  {
    <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyEmailSubmit()">
        <div class="my-2">
          <label for="email">{{ 'auth.forgotPassword.email' | translate }}</label>
          <input formControlName="email" type="email" id="email" class="form-control" [placeholder]="'auth.forgotPassword.emailPlaceholder' | translate" />
        </div>
        <button [disabled]="verifyEmail.invalid" class="btn-main">
          @if(isLoading1){
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            {{ 'auth.forgotPassword.verifyingEmail' | translate }}
          } @else {
            {{ 'auth.forgotPassword.verifyEmail' | translate }}
          }
        </button>
      </form>
  }
  @else if (step ===2) {
    <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyCodeSubmit()">
        <div class="my-2">
          <label for="resetCode">{{ 'auth.forgotPassword.resetCode' | translate }}</label>
          <input formControlName="resetCode" type="text" id="resetCode" class="form-control" [placeholder]="'auth.forgotPassword.resetCodePlaceholder' | translate" />
        </div>
        <button [disabled]="verifyCode.invalid" class="btn-main">
          @if(isLoading2){
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            {{ 'auth.forgotPassword.verifyingCode' | translate }}
          } @else {
            {{ 'auth.forgotPassword.verifyCode' | translate }}
          }
        </button>
      </form>
  }
  
   @else if (step === 3) {
    <form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="resetPasswordSubmit()">
        <div class="my-2">
          <label for="email">{{ 'auth.forgotPassword.email' | translate }}</label>
          <input readonly formControlName="email" type="text" id="email" class="form-control" />
        </div>

        <div class="my-2">
          <label for="newPassword">{{ 'auth.forgotPassword.newPassword' | translate }}</label>
          <div class="input-group">
            <input 
              formControlName="newPassword" 
              [type]="showPassword ? 'text' : 'password'" 
              id="newPassword" 
              class="form-control" 
              [placeholder]="'auth.forgotPassword.newPasswordPlaceholder' | translate"
            />
            <button 
              type="button" 
              class="btn btn-outline-secondary" 
              (click)="showPassword = !showPassword"
            >
              <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
        </div>
        <button [disabled]="resetPassword.invalid" class="btn-main">
          @if(isLoading3){
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            {{ 'auth.forgotPassword.resettingPassword' | translate }}
          } @else {
            {{ 'auth.forgotPassword.resetPassword' | translate }}
          }
        </button>
      </form>
   }
  </section>