<section
  class="py-5"
  [dir]="_TranslateService.currentLang === 'ar' ? 'rtl' : 'ltr'"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center text-main mb-4">
          {{ "auth.forgotPassword.title" | translate }}
        </h1>

        @if(step === 1) {
        <form
          [formGroup]="verifyEmail"
          class="bg-main-light rounded-4 shadow p-4"
          (ngSubmit)="verifyEmailSubmit()"
        >
          <div class="mb-3">
            <label for="email" class="form-label">{{
              "auth.forgotPassword.email" | translate
            }}</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              class="form-control"
              [class.is-invalid]="
                verifyEmail.get('email')?.invalid &&
                verifyEmail.get('email')?.touched
              "
              [placeholder]="'auth.forgotPassword.emailPlaceholder' | translate"
            />
          </div>
          <button [disabled]="verifyEmail.invalid" class="btn-main w-100">
            @if(isLoading1){
            <span
              class="spinner-border spinner-border-sm me-2"
              role="status"
              aria-hidden="true"
            ></span>
            {{ "auth.forgotPassword.verifyingEmail" | translate }}
            } @else {
            {{ "auth.forgotPassword.verifyEmail" | translate }}
            }
          </button>
        </form>
        } @else if (step === 2) {
        <form
          [formGroup]="verifyCode"
          class="bg-main-light rounded-4 shadow p-4"
          (ngSubmit)="verifyCodeSubmit()"
        >
          <div class="mb-3">
            <label for="resetCode" class="form-label">{{
              "auth.forgotPassword.resetCode" | translate
            }}</label>
            <input
              formControlName="resetCode"
              type="text"
              id="resetCode"
              class="form-control"
              [class.is-invalid]="
                verifyCode.get('resetCode')?.invalid &&
                verifyCode.get('resetCode')?.touched
              "
              [placeholder]="
                'auth.forgotPassword.resetCodePlaceholder' | translate
              "
            />
          </div>
          <button [disabled]="verifyCode.invalid" class="btn-main w-100">
            @if(isLoading2){
            <span
              class="spinner-border spinner-border-sm me-2"
              role="status"
              aria-hidden="true"
            ></span>
            {{ "auth.forgotPassword.verifyingCode" | translate }}
            } @else {
            {{ "auth.forgotPassword.verifyCode" | translate }}
            }
          </button>
        </form>
        } @else if (step === 3) {
        <form
          [formGroup]="resetPassword"
          class="bg-main-light rounded-4 shadow p-4"
          (ngSubmit)="resetPasswordSubmit()"
        >
          <div class="mb-3">
            <label for="email" class="form-label">{{
              "auth.forgotPassword.email" | translate
            }}</label>
            <input
              readonly
              formControlName="email"
              type="text"
              id="email"
              class="form-control bg-light"
            />
          </div>

          <div class="mb-3">
            <label for="newPassword" class="form-label">{{
              "auth.forgotPassword.newPassword" | translate
            }}</label>
            <div class="input-group">
              <input
                formControlName="newPassword"
                [type]="showPassword ? 'text' : 'password'"
                id="newPassword"
                class="form-control"
                [class.is-invalid]="
                  resetPassword.get('newPassword')?.invalid &&
                  resetPassword.get('newPassword')?.touched
                "
                [placeholder]="
                  'auth.forgotPassword.newPasswordPlaceholder' | translate
                "
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="showPassword = !showPassword"
              >
                <i
                  class="fas"
                  [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                ></i>
              </button>
            </div>
            <div class="form-text mt-2">
              Password must be at least 8 char and contain one uppercase letter, one lowercase letter, and one number
            </div>
          </div>

          <button [disabled]="resetPassword.invalid" class="btn-main w-100">
            @if(isLoading3){
            <span
              class="spinner-border spinner-border-sm me-2"
              role="status"
              aria-hidden="true"
            ></span>
            {{ "auth.forgotPassword.resettingPassword" | translate }}
            } @else {
            {{ "auth.forgotPassword.resetPassword" | translate }}
            }
          </button>
        </form>
        }
      </div>
    </div>
  </div>
</section>
